# sample env that i used in local development

# server configurations
PORT=8080
APP_NAME=revise-backend

# db mysql config
DEV_DB_URL=jdbc:mysql://localhost:3309/revise_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DEV_DB_USERNAME=root
DEV_DB_PASSWORD=root

# JPA
DEV_DB_DDL_AUTO=update
SHOW_SQL=true

# JWT
DEV_JWT_SECRET=vishalkeProjectRevisekajwtTokenString2005
DEV_JWT_EXPIRATION_MS=86400000

# Google oauth
DEV_GOOGLE_CLIENT_ID=put_google_client_id
DEV_GOOGLE_CLIENT_SECRET=put_google_client_secret

# resend api
DEV_RESEND_API_KEY=put_resend_api_key
DEV_RESEND_FROM_EMAIL=put_resend_from_email


DEV_FRONTEND_BASE_URL=http://localhost:5173,http://localhost:3000

# Profile and Default Spring Security Password Override
ACTIVE_PROFILE=dev
DEV_ADMIN_USERNAME=vishal
DEV_ADMIN_USER_PASSWORD=2005