@import "tailwindcss";

/* dark mode enable */
@custom-variant dark (&:where(.dark, .dark *));

/* allow to apply dark mode on base level */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-white transition-colors duration-300;
  }
}

/* custom animation for TopLoadingBar */
@keyframes progress {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

@layer utilities {
  .animate-progress-bar {
    animation: progress 1.5s infinite linear;
  }
}

/* custom animation for Time Bar Animation Alert */
@keyframes fill-bar {
  0% { width: 0%; }
  100% { width: 100%; }
}

.animate-fill-bar {
  animation: fill-bar linear forwards;
}